<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Karla" rel="stylesheet">

    <title><%= appName %></title>

    <!-- Bootstrap core CSS-->
    <link href="<%=server%>/static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="<%=server%>/static/css/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="<%=server%>/static/css/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="<%=server%>/static/css/sb-admin.css" rel="stylesheet">

    <style>
       tr:hover {
          opacity:0.6;
          color:red;
          transition: all .6s ease;
       }

       tr {
         transition: all 0.3s ease;
       }
    </style>

  </head>

  <body style="font-family: 'Karla', sans-serif" id="page-top">

    
     

      <!-- Navbar -->
     <%- include('../layout/header')  %>

    

    <div id="wrapper">

      <!-- Sidebar -->
      <%-   include('../layout/side_bar')  %>

      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="<%=server%>/dashboard">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Services List</li>
          </ol>

   

          <!-- DataTables Example -->
          <div class="card mb-5 mt-5">
            <div class="card-header">
              Orders</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Family</th>
                      <th>Mobile</th>
                      <th>Product</th>
                      <th>Date</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Name</th>
                      <th>Family</th>
                      <th>Mobile</th>
                      <th>Product</th>
                      <th>Date</th>
                      <th>Status</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <%  services.map(service => {    %>
                      <tr onClick="goToProduct('<%= service._id  %>')" <%= service.visited ? "" : 'class=new'  %> >
                       
                      <td>
                          <%=  service.name %>
                      </td>
                      <td>
                          <%=  service.family  %>
                      </td>

                      <td>
                          <%= service.mobile  %>
                      </td>

                      <td>
                         <%= service.service_type  %> / <%= service.service_kind  %>
                      </td>

                      <td>
                         <%= service.createdAt.toLocaleString()  %>
                      </td>

                      <td>
                           <%= service.visited  ? "seen" : "new" %>
                      </td>
                    
                    </tr>
                    <%  });   %>


                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">
              <a href="">refresh data</a>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Your Website 2018</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="<%=server%>/static/js/jquery.min.js"></script>
    <script src="<%=server%>/static/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="<%=server%>/static/js/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="<%=server%>/static/js/Chart.min.js"></script>
    <script src="<%=server%>/static/js/jquery.dataTables.min.js"></script>
    <script src="<%=server%>/static/js/dataTables.bootstrap4.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="<%=server%>/static/js/sb-admin.js"></script>

    <!-- Demo scripts for this page-->
    <script src="<%=server%>/static/js/datatables-demo.js"></script>

      <script type="text/javascript">



function goToProduct(id) {
  console.log(id);
  window.location.href = `<%=server%>/dashboard/service/${id}`;
}
      </script>

  </body>

</html>
