<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%=appName%> || Blogs</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="<%server%>/static/css/bootstrap.css" >
        <link rel="stylesheet" href="<%server%>/static/css/landing/index.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Poppins|Fredoka+One|Acme|Lato:400,700|PT+Sans:700" rel="stylesheet">
    </head>
    <style>
        body {
  background: white;
  font-family: 'proxima-nova-soft', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#menu {
    position: relative;
}

.service-menu-container {   
    display:none; 
    position: absolute;
    width:160px;
    border-radius: 6%;
    border: 1px solid rgba(199, 199, 199, 0.39);
    box-shadow: 1px 0 3px rgba(199, 199, 199, 0.534);
    top:30px;
    background-color: rgba(255, 254, 254, 0.904);
    left:20%;
    transition:all 1s ease;

}

.service-menu-container ul {
    list-style: none;
    margin: 0;
    padding:0;
}

.service-menu-container li {
    border-bottom: 1px solid rgb(189, 189, 189);
    cursor: pointer;
    padding: 5px 0;
    padding-left:10%;
    
    
}

.service-menu-container li:hover {
    opacity: 0.6;
    font-weight: bold;
    color: black;
    background-color: rgba(199, 193, 193, 0.589);
}

.service-menu-container li:last-child {
    border-bottom: none;
}

.menu-service:hover >  .service-menu-container {
    display: block;
    transition:all 1s ease;

}

.menu section  li {
    background-color: #503a3a;
    color: white;
    word-spacing: 6px;
    letter-spacing: 2px;
}

.menu section  li:hover {
    color: black;
    opacity: 0.9;
    background-color: #503a3ab8;
}

.button-block {
    display: flex
}

.site-header {
    position: relative;
    padding: 24px 0
}

.header-illustration {
    position: absolute;
    top: -80px;
    right: -160px
}

.site-header-inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.header-links {
    display: inline-flex
}

.header-links li {
    display: inline-flex
}

.header-links a:not(.button) {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.65);
    text-transform: uppercase;
    text-decoration: none;
    line-height: 16px;
    padding: 8px 24px
}

.post-module {
  position: relative;
  z-index: 1;
  cursor: pointer;
  display: block;
  background: #FFFFFF;
  min-width: 270px;
  height: 470px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.post-module:hover,
.hover {
  -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}
.post-module:hover .thumbnail img,
.hover .thumbnail img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.6;
}
.post-module .thumbnail {
  background: #000000;
  height: 400px;
  overflow: hidden;
}
.post-module .thumbnail .date {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  background: #e74c3c;
  width: 55px;
  height: 55px;
  padding: 5.5px 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.post-module .thumbnail .date .day {
  font-size: 18px;
}
.post-module .thumbnail .date .month {
  font-size: 12px;
  text-transform: uppercase;
}
.post-module .thumbnail img {
  display: block;
  width: 120%;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.post-module .post-content {
  position: absolute;
  bottom: 0;
  background: #FFFFFF;
  width: 100%;
  padding: 30px;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}
.post-module .post-content .category {
  position: absolute;
  top: -34px;
  left: 0;
  background: #e74c3c;
  padding: 10px 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.post-module .post-content .title {
  margin: 0;
  padding: 0 0 0px;
  color: #333333;
  font-size: 26px;
  font-weight: 700;
}
.post-module .post-content .sub_title {
  margin: 0;
  padding: 0 0 20px;
  color: #9e9494af;
  font-size: 12px;
  margin-top: -30px;
}
.post-module .post-content .description {
  display: none;
  color: #666666;
  font-size: 14px;
  line-height: 1.8em;
}
.post-module .post-content .post-meta {
  margin: 30px 0 0;
  color: #999999;
}
.post-module .post-content .post-meta .timestamp {
  margin: 0 16px 0 0;
}
.post-module .post-content .post-meta a {
  color: #999999;
  text-decoration: none;
}
.hover .post-content .description {
  display: block !important;
  height: auto !important;
  opacity: 1 !important;
}
.container {

  max-width: 900px;
  min-width: 300px;
  margin: 0 auto;
}
.container:before,
.container:after {
  content: '';
  display: block;
  clear: both;
}
.column {
  width: 50%;
  padding: 0 25px;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-bottom: 45px;
}



.container .column .demo-title {
  margin: 0 0 15px;
  color: #666666;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.container .info {
  width: 430px;
  font-family: Poppins;
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 24px;
  font-weight: bolder;
  color: #333333;
}
.container .info span {

  font-size: 40px;
}

@media only screen and (max-width:700px) {
    .column {
  width: 100%;
  padding: 0 25px;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
    }

    .container .info h1 {
        font-size: 18px;
    }

    .container .info {
        width:250px;
    }
}


.container_post {
  background-color: #efefef94;
  padding-top: 90px;
  border-radius: 4%;
}

    </style>
    <body>
      <div class="container d-flex flex-row justify-content-between pt-2">
        <div class="hamburger-button">
        <button class="hamburger">&#9776;</button>
        <button class="cross">&#735;</button>

        <div class="menu">
    <ul>
        <a href="<%=server%>/"><li>Home</li></a>
        <a ><li class="menu-services-sub">Services</li></a>
            <!-- Sub Item of Services  -->
            <section>
                <a href="<%=server%>/service/i/s">
                    <li>IELTS  Speaking</li>
                </a>
                <a href="<%=server%>/service/t/w">
                    <li>IELTS  Writing</li>
                </a> 
                <a href="<%=server%>/service/t/w">
                    <li>TOFEL Writing</li>
                </a> 
                <a href="<%=server%>/service/t/s">
                    <li>TOFEL Speaking</li>
                </a> 
            </section>

            
        <a href="<%=server%>/books"><li>Books</li></a>
        <a href="<%=server%>/blog"><li>Blogs</li></a>
        <a href="<%=server%>/about-us"><li>About Me</li></a>
    </ul>
</div> 
        </div>
        
    <div id="menu" class="d-flex flex-row justify-content-around w-50">
     <div>
     <a data-hover href="<%=server%>/" >Home</a>
     </div>
     <div class="menu-service">
                
                    <div class="service-menu-container">
                        <ul>
                            <li>
                                <a href="<%=server%>/service/i/s">IELTS Speaking</a> 
                            </li>
                            <li>
                                <a href="<%=server%>/service/t/w">IELTS Writing</a> 
                            </li>
                            <li>
                                <a href="<%=server%>/service/t/s">TOFEL Speaking</a> 
                            </li>
                            <li>
                                <a href="<%=server%>/service/t/w">TOFEL Writing</a> 
                            </li>
                        </ul>
                    </div>
                
       <a   href="<%=server%>/services" >Servicess</a>
     </div>
     <div>
       <a data-hover href="<%=server%>/books" >Books</a>
     </div>
     <div>
       <a data-hover href="<%=server%>/blog" >Blogs</a>
     </div>
     <div>
       <a data-hover href="<%=server%>/about-us" >About Me</a>
     </div>
    </div>
            <div class="site-header-inner">
               
            </div>
        </div>
       

       <div class="container pt-5">
        <div class="info pt-3">
          <h1><span>A</span>rticle For Improve Yourself</h1>
        </div>

  
      </div>

       <div class="container_post container">
           
       </div>
    </body>

    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

  <script>
  var allPosts = [];

  function patchHoverEvent() {
              
              $('.post-module').hover(function() {
                $(this).find('.description').stop().animate({
                  height: "toggle",
                  opacity: "toggle"
                });
              });
                      }

                      
      function getPosts() {
         $.ajax({
             type:'GET',
             url: '<%=server%>/v1/posts',
             success: function(res) {
                 if(res.data) {
                    allPosts = res.data;
                    console.log(allPosts);
                     generateView();
                     setTimeout(patchHoverEvent,1000)
                 }
             },
             error: function(err) {
                 console.log(err);
             }
         })
      }

      var postsContainer = [];

      function generateView() {
        allPosts.forEach(function(post) {
            var template_ = `<div class="column">
          <!-- Post-->
          <a href="<%=server%>/blog/${post._id}"  >
          <div class="post-module">
            <!-- Thumbnail-->
            <div class="thumbnail">
              <div class="date">
                <div class="day">27</div>
                <div class="month">Mar</div>
              </div><img src="${post.image ? `<%=server%>/file/${post.image.file_name}` : ''}"/>
            </div>
            <!-- Post Content-->
            <div class="post-content">
              <div class="category">Category | ${post.category}</div>
              <h1 class="title">${post.title}</h1>
              <h2 class="sub_title">Author: ${post.author}</h2>
              <p class="description">${post.short_details}</p>
            </div>
          </div>
          </a>
        </div>`;

        postsContainer.push(template_);
        // postsContainer.push(template_);
        // postsContainer.push(template_);

        });

        $('.container_post').append(postsContainer);

      }



      


    //   function generateView() {
    //       var posts_html = [];
    //       posts.forEach(function(item) {
    //           var template = `<div>
    //             <h1>${item.title}</h1>
    //       </div>`;
    //          posts_html.push(template);
    //       });

    //       $('.container_post').append(posts_html);
    //   }

      $(document).ready(function() {


$('.hamburger').click(function(e) {
    $(this).hide();
    $('.cross').show();
    $( ".menu" ).slideToggle('slow');
})

$('.cross').click(function(e) {
    $(this).hide();
    $('.hamburger').show();
    $( ".menu" ).slideToggle('slow');
})

        // Menu Accourdian
        $('.menu section').slideToggle();
        $('.menu-services-sub').click(function() {
        
        $('.menu section').slideToggle();
    })


  function onResizeForHamburgerMenu() {
      var widthScreen = window.innerWidth;
      console.log(widthScreen);
      if(widthScreen < 700) {
          $( ".hamburger" ).show();
          $('#menu > *').hide();
      } else {
          $( ".hamburger" ).hide();
          $( ".menu" ).hide();
          $( ".cross" ).hide();
          $('#menu > *').show();
      }
  }
    onResizeForHamburgerMenu();
    window.addEventListener('resize', onResizeForHamburgerMenu, false)


          getPosts();
      });
  </script>
</html>